<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class = "container" ng-controller="Friend Controller as control">
<div class ="form group has feedback">
search
<p><input type="text" ng-model="search_friend"></p>
<div ng-repeat="user in ctrl.users"|filter :"search_friend">
<fieldset>
<legend></legend>
<p> Online?: {{user.isonline}}</p>
<p>ID: {{user.id}} &nbsp; &nbsp; &nbsp; Name: {{user.name}}
&nbsp; &nbsp; &nbsp; <button type="button" ng-click="ctrl.sendFriendRequest(user.id)" class="btn btn-warning btn-sm">Send Friend Request</button>
</p>
<p>Email: {{user.email}} &nbsp; &nbsp; &nbsp; Mobile: {{user.mobile}}
<p>Address: {{user.address}} &nbsp; &nbsp; &nbsp; Role: {{user.role}}


</p>


</fieldset>
</div>
</div>
</div>
</body>
</html>